extends layout
block content
    //- Main Content
    .gx-main-content
        //- gx-wrapper
        .gx-wrapper
            .gx-module.chat-module
                #gxChatModuleSidebar.chat-sidenav
                    .chat-sidenav-main
                        .chat-sidenav-header
                            .chat-user-hd
                                .chat-avatar.mr-3
                                    .chat-avatar-mode
                                        img.user-avatar.size-50(src='images/userAvatar/domnic-harris.jpg', alt='')
                                        span.chat-mode.online
                                .module-user-info.d-flex.flex-column.justify-content-center
                                    .module-title
                                        h5.mb-0 Robert Johnson
                                    .module-user-detail
                                        a.text-muted(href='javascript:void(0)') robert@example.com
                                a.ml-auto.action-btn
                                    i.zmdi.zmdi-more-vert
                            .search-wrapper
                                .search-bar.right-side-icon.bg-transparent
                                    .form-group
                                        input.form-control.border-0(placeholder='Search or start new chat', value='', type='search')
                                        button.search-icon
                                            i.zmdi.zmdi-search.zmdi-hc-lg
                            ul.nav.tab-link.nav-justified(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#chatList', role='tab', aria-controls='chatList', aria-selected='true') Chats
                        .chat-sidenav-content
                            .tab-content
                                #chatList.tab-pane.active.ps-custom-scrollbar(style='position: relative;')
                                    #users-online.chat-user
                .chat-module-box                             
                    .chat-box !{html}    
        //- Footer
        footer.gx-footer
            .d-flex.flex-row.justify-content-between
                p  Copyright Company Name &copy; 2018
       

        #colorTheme.theme-option
            a.action-btn(href='javascript:void(0)')
                i.zmdi.zmdi-settings.zmdi-hc-spin.text-white
        



