doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='EagleChat is a support system that enables students communicate directly with University Support staff in real time')
    meta(name='keywords', content='Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass')
    title= title
    //- Site favicon
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    //- /site favicon
    //- Font Material stylesheet
    link(rel='stylesheet', href='fonts/material-design-iconic-font/css/material-design-iconic-font.min.css')
    //- /font material stylesheet
    //- Bootstrap stylesheet
    link(href='css/agent/jumbo-bootstrap.css', rel='stylesheet')
    //- /bootstrap stylesheet
    //- Perfect Scrollbar stylesheet
    link(href='js/utils/perfect-scrollbar/css/perfect-scrollbar.css', rel='stylesheet')
    //- /perfect scrollbar stylesheet
    //- Form stylesheet
    link(href='css/agent/jumbo-forms.css', rel='stylesheet')
    //- /form stylesheet
    //- Jumbo-core stylesheet
    link(href='css/agent/jumbo-core.min.css', rel='stylesheet')
    //- /jumbo-core stylesheet
    //- Color-Theme stylesheet
    link#override-css-id(href='css/agent/theme-dark-indigo.css', rel='stylesheet')
    //- Color-Theme stylesheet

.loader-backdrop

    .loader
        svg.circular(viewbox='25 25 50 50')
            circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')

.gx-container
    //- Page Sidebar
    #menu.side-nav.gx-sidebar
        .navbar-expand-lg
            //- Sidebar header
            .sidebar-header
                .user-profile
                    img.user-avatar(alt='Domnic', src='images/userAvatar/domnic-harris.jpg')
                    .user-detail
                        h4.user-name
                            span.dropdown
                                a#userAccount.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.dropdown-menu.dropdown-menu-right(aria-labelledby='userAccount')
                                    a.dropdown-item(href='javascript:void(0)')
                                        i.zmdi.zmdi-account.zmdi-hc-fw.mr-2
                                    a.dropdown-item(href='javascript:void(0)')
                                        i.zmdi.zmdi-settings.zmdi-hc-fw.mr-2
                                    a.dropdown-item(href='javascript:void(0)')
                                        i.zmdi.zmdi-sign-in.zmdi-hc-fw.mr-2
            //- /sidebar header
            //- Main navigation
            #main-menu.main-menu.navbar-collapse.collapse
                ul.nav-menu
                    li.nav-header
                        span.nav-text Main
                    li.menu.no-arrow
                        a(href='javascript:void(0)')
                            i.zmdi.zmdi-comment.zmdi-hc-fw
                            span.nav-text Chat
                    li.menu.no-arrow
                        a(href='javascript:void(0)')
                            i.zmdi.zmdi-view-dashboard.zmdi-hc-fw
                            span.nav-text Tickets
                    li.menu.no-arrow
                        a(href='javascript:void(0)')
                            i.zmdi.zmdi-view-dashboard.zmdi-hc-fw
                            span.nav-text Agents
                    li.menu.no-arrow
                        a(href='javascript:void(0)')
                            i.zmdi.zmdi-view-dashboard
                            span.nav-text Help
                                          
    
    //- Main Container
    .gx-main-container
        //- Main Header
        header.main-header
            .gx-toolbar
                .sidebar-mobile-menu.d-block.d-lg-none
                    a.gx-menu-icon.menu-toggle(href='#menu')
                        span.menu-icon
                a.site-logo(href='index-2.html')
                    img(src='images/logo.png', alt='Jumbo', title='Jumbo')
                .search-bar.right-side-icon.bg-transparent.d-none.d-sm-block
                    .form-group
                        input.form-control.border-0(placeholder='', value='', type='search')
                        button.search-icon
                            i.zmdi.zmdi-search.zmdi-hc-lg
                ul.quick-menu.header-notifications.ml-auto
                    li.nav-searchbox.dropdown.d-inline-block.d-sm-none
                        a.d-inline-block.icon-btn(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.zmdi.zmdi-search.zmdi-hc-fw
                        .p-0.dropdown-menu.dropdown-menu-right.search-bar.right-side-icon.search-dropdown(aria-hidden='true')
                            .form-group
                                input.form-control.border-0(placeholder='', value='', type='search')
                                button.search-icon
                                    i.zmdi.zmdi-search.zmdi-hc-lg
                    li.dropdown
                        a.d-inline-block(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            i.zmdi.zmdi-notifications-active.icons-alert.animated.infinite.wobble
                        .dropdown-menu.dropdown-menu-right(role='menu', aria-hidden='true')
                            .gx-card-header.d-flex.align-items-center
                                .mr-auto
                                    h3.card-heading Notifications
                            .dropdown-menu-perfectscrollbar
                                .messages-list
                                    ul.list-unstyled
                                        li.media
                                            img.size-40.mr-2.rounded-circle(alt='stella-johnson', src='images/userAvatar/stella-johnson.jpg')
                                            .media-body.align-self-center
                                                p.sub-heading.mb-0
                                                a.gx-btn.gx-flat-btn.gx-btn-xs.mb-0(href='javascript:void(0)')
                                                    i.zmdi.zmdi-thumb-up.text-blue.zmdi-hc-fw
                                                span.meta-date
                                                    small 4:10 PM
                    li.dropdown
                        a.d-inline-block(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            i.zmdi.zmdi-comment-alt-text.icons-alert.zmdi-hc-fw
                        .dropdown-menu.dropdown-menu-right(data-placement='bottom-end', data-x-out-of-boundaries='')
                            .gx-card-header.d-flex.align-items-center
                                .mr-auto
                                    h3.card-heading Messages
                            .dropdown-menu-perfectscrollbar1
                                .messages-list
                                    ul.list-unstyled
                                        li.media
                                            .user-thumb
                                                img.rounded-circle.size-40.user-avatar(alt='Domnic Brown', src='images/userAvatar/domnic-brown.jpg')
                                                span.badge.badge-danger.rounded-circle 5
                                            .media-body
                                                .d-flex.justify-content-between.align-items-center
                                                    h5.text-capitalize.user-name.mb-0
                                                        a(href='javascript:void(0)') Domnic Brown
                                                    span.meta-date
                                                        small 6:19 PM
                                                p.sub-heading There are many variations of passages of...
                                                a.gx-btn.gx-flat-btn.gx-btn-xs.text-muted(href='javascript:void(0)')
                                                    i.zmdi.zmdi-mail-reply
                                                    span Reply
                                                a.gx-btn.gx-flat-btn.gx-btn-xs.text-muted(href='javascript:void(0)')
                                                    i.zmdi.zmdi-eye
                                                    span Read
                                                    
            //- /main header

        block content
                
//- Right Sidebar
#colorSidebar.app-sidebar-content.right-sidebar
    .color-theme
        .color-theme-header
            h3.color-theme-title Service Panel
            a#close-setting-panel.action-btn(href='javascript:void(0)')
                i.zmdi.zmdi-close.text-white
        .color-theme-body
            h3 Light Sidenav
            ul.color-option
                li
                    a.bg-indigo.gx-theme(href='javascript:void(0)', data-theme='indigo')
                li
                    a.bg-cyan.gx-theme(href='javascript:void(0)', data-theme='cyan')
                li
                    a.bg-amber.gx-theme(href='javascript:void(0)', data-theme='amber')
                li
                    a.bg-deep-orange.gx-theme(href='javascript:void(0)', data-theme='deep-orange')
                li
                    a.bg-pink.gx-theme(href='javascript:void(0)', data-theme='pink')
                li
                    a.bg-blue.gx-theme(href='javascript:void(0)', data-theme='blue')
                li
                    a.bg-deep-purple.gx-theme(href='javascript:void(0)', data-theme='deep-purple')
                li
                    a.bg-green.gx-theme(href='javascript:void(0)', data-theme='green')
            h3 Dark Sidenav
            ul.color-option.cr-op-dark-sidebar
                li
                    a.bg-indigo.gx-theme(href='javascript:void(0)', data-theme='dark-indigo')
                li
                    a.bg-cyan.gx-theme(href='javascript:void(0)', data-theme='dark-cyan')
                li
                    a.bg-amber.gx-theme(href='javascript:void(0)', data-theme='dark-amber')
                li
                    a.bg-deep-orange.gx-theme(href='javascript:void(0)', data-theme='dark-deep-orange')
                li
                    a.bg-pink.gx-theme(href='javascript:void(0)', data-theme='dark-pink')
                li
                    a.bg-blue.gx-theme(href='javascript:void(0)', data-theme='dark-blue')
                li
                    a.bg-deep-purple.gx-theme(href='javascript:void(0)', data-theme='dark-deep-purple')
                li
                    a.bg-green.gx-theme(href='javascript:void(0)', data-theme='dark-green')
            h3 Dark Theme
            .material-switch
                input#switch-dark-theme(name='switch-dark-theme', type='checkbox', data-theme='dark')
                label.label-default(for='switch-dark-theme')
            h3.d-none.d-lg-block Collapsible Drawer
            .material-switch.d-none.d-lg-block
                input#folded-sidebar(type='checkbox')
                label.label-default(for='folded-sidebar')
//- end Right Sidebar

//- Menu Backdrop
.menu-backdrop.fade
//- end menu backdrop


//- Load JQuery
script(src='js/utils/jquery/dist/jquery.min.js')

//- Bootstrap JQuery
script(src='js/utils/bootstrap/dist/js/bootstrap.bundle.min.js')

//- Perfect Scrollbar JQuery
script(src='js/utils/perfect-scrollbar/dist/perfect-scrollbar.min.js')

//- Big Slide JQuery
script(src='js/utils/bigslide/dist/bigSlide.min.js')

//- wizard JQuery
script(src='js/utils/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js')
script(src='js/utils/jquery.validate.min.js')

//- Custom JQuery
script(src='js/utils/functions.js')
script(src='js/utils/custom/chat.js')

//- Socket IO
script(src='http://localhost:4100/socket.io/socket.io.js')

//- Agent JS
script(src="js/agent/index.js")